.main-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-table {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: flex-start;
    margin-left: 40px;
}


.product-card {
    text-align: center;
}

p{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}


.img {
width: 400px;
height: 400px;
}

.btn-cart {
    width: 180px;
    height: 48px;
    background-color: #444444;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: .15s
}

.btn-cart:hover {
    background-color: #ab6bdc;
}

.btn-favorite {
    width: 45px;
    margin-left: 10px;
    height: 48px;
    background-color: #444444;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    transition: .15s;   
}

.btn-favorite:hover {
    background-color: #ab6bdc;
}